<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.vecteezy.com/system/resources/previews/001/882/889/non_2x/cinema-film-camera-banner-with-copy-space-vector.jpg);">
  <div class="container">
    <h1>Save any kind of movies</h1>
    <p>Lorem, ipsum dolor.</p>
    <%# <a class="btn btn-flat" href="/lists/new">Añade una lista</a> %>
  </div>
</div>

<h1>LISTAS</h1>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.name, list_path(list) %>
      <%# <%= link_to "Delete",
        task_path(task),
        method: :delete,
        data: {
          confirm: "Are u sure? Delete #{task.title}?"
        }
      %>
    </li>
  <% end %>
</ul>


<%= link_to "Add a new list", new_list_path %>
