<h1>LISTAS</h1>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.name, list_path(list) %>
      <%# <%= link_to "Delete",
        task_path(task),
        method: :delete,
        data: {
          confirm: "Are u sure? Delete #{task.title}?"
        }
      %>
    </li>
  <% end %>
</ul>


<%= link_to "Add a new list", new_list_path %>
